:root {
  --primary-color: rgb(41, 173, 1);
  --section-padding-top: 3em;
  --padding-bottom: 3em;
  --text-color: #d1d1d1;
  --heading-font: Oswald, sans-serif;
  --text-font: Poppings, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.head-div {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  /*position: fixed;*/
  background-color: rgba(0, 0, 0);
}
.head-div img {
  width: 200px;
  height: 150px;
  max-width: 200px;
}

.joinBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.6rem 1rem;
  margin-right: 2em;
  font-size: 1em;
  font-weight: 900;
  color: rgb(255, 255, 255);
  border: 3px solid var(--primary-color);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: var(--text-font);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.burger {
  position: relative;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin-right: 2em;
  width: 26%;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/*section impressum*/

.impressum-content {
  margin-top: 3em;
  margin-bottom: 8em;
}

.impressum-content h1 {
  font-size: 2.8em;
  text-align: center;
  font-family: var(--heading-font);
  text-transform: uppercase;
  margin-bottom: 2em;
}
.block {
  padding-left: 1.3em;
  margin-bottom: 4em;
}

.block h4 {
  font-size: 1.1em;
  font-family: var(--heading-font);
  margin-bottom: 1.3em;
}

.block p {
  font-size: 1em;
  line-height: 0.8;
  font-family: var(--text-font);
}

.impressum-content .regulations {
  padding-left: 1.3em;
}

.regulations h4 {
  font-size: 1.1em;
  font-family: var(--heading-font);
}

.regulations p {
  font-size: 1em;
  line-height: 1.4;
  font-family: var(--text-font);
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2em;
  padding-left: 1.3em;
  gap: 0.8em;
}

.socialMedia a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--text-font);
}

.socialMedia a:hover {
  border-bottom: solid var(--primary-color);
  transition: border-bottom 0.1s ease;
}

/*section footer */
.footer {
  color: var(--text-color);
  padding: 4em 0em 6em 0;
  background-color: black;
}

.footer .bg {
  background-color: var(--primary-color);
}

.footer h4 {
  text-align: center;
  border-left: 3px solid var(--primary-color);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  font-family: var(--heading-font);
  font-size: 1.3em;
}

.footer .bg {
  background-color: var(--primary-color);
}

.footer a {
  color: var(--text-color);
  text-decoration: none;
}

.footer h4:hover {
  background-color: var(--primary-color);
  transition: background-color 0.7s ease;
}

.footer .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 300px;
  height: auto;
}

.copyright {
  text-align: center;
  font-family: var(--text-font);
  color: var(--text-color);
  position: relative;
  margin-top: 3em;
}

.copyright p {
  position: absolute;
  left: 0;
  width: 100%;
}
